---
// Component Imports
import DefaultLayout from "~/layouts/DefaultLayout.astro";

import { CodeSnippetGroup } from "~/images";
// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<DefaultLayout>
	<section class="bg-[url('/images/bg-blur.png')] h-full bg-center bg-cover bg-no-repeat">
		<div class="container flex items-center justify-center">
			<div class="p-10">
				<h1 class="text-6xl text-secondary">
					<span class="text-lg w-full block">
						Hi all. I am
					</span>
					Truong Thang
				</h1>
				<p class="text-3xl text-tertiary mb-10">
					{'>'} Front-end developer
				</p>
				<p class="text-primary">
					{'//'} you can also see my profile on Github
				</p>
				<p class="text-base text-white">
					<span class="text-tertiary">const</span>{" "}
					<span class="text-[#43D9AD]">githubLink</span>{" "}
					<span>=</span>{" "}
					<span class="text-[#E99287]">"https://github.com/yensubldg"</span>
				</p>
			</div>
			<div class="w-1/3">
				<img src={CodeSnippetGroup} alt="code snippet group" class="object-contain w-full">
			</div>
		</div>
	</section>
</DefaultLayout>